@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&family=Rubik&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  font-family: "Rubik", sans-serif;
  /* overflow: hidden; */
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  background-image: url(../img/main.jpg);
  background-position: top 0rem left 0rem;
  background-repeat: no-repeat;
  background-size: 110%;
  background-color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  /* background-color: white; */
  /* border: 2px solid red; */
}

.logo {
  flex: 1;
  color: white;
  border: 1 px solid black;
  flex-basis: 20%;
  font-size: 3rem;
  margin: 0.5rem;
  padding: 1rem 2rem;
  text-align: left;
}

.logo span {
  color: red;
}

.navbar {
  flex: 1;
  flex-basis: 60%;
  /* border: 1px solid black; */
}

.navbar nav {
  text-align: center;
}

.navbar nav ul li {
  display: inline-block;
  margin: 1rem;
}

.navbar nav ul li a:hover {
  color: red;
}

.navbar nav ul li a {
  text-decoration: none;
  color: white;
}

.button {
  /* border: 2px solid black; */
  flex-basis: 18%;
  text-align: right;
  width: 2rem;
  height: 4rem;
  margin: 0.5rem;
  padding: 0 2rem;
}

button {
  /* display: block; */
  color: white;
  background-color: red;
  border-radius: 11px;
  width: 60%;
  height: 100%;
  border: 1px solid red;
}

button a{
  display: block;
  text-decoration: none;
  color: white;

}

button:hover{
  scale: 1.1;
  transition: 0.4s;
}

.toggle-button {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 1.2rem;
  right: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bar {
  width: 100%;
  height: 0.3rem;
  background-color: black;
  margin-bottom: 0.6rem;
  display: none;
}

.second {
  overflow: clip;
}

.introduction {
  position: relative;
  padding-top: 6rem;
  padding-left: 6rem;
  padding-bottom: 31%;
  color: white;
}

.introduction h4 {
  font-size: 4rem;
  margin: 2rem 1rem 0rem 1rem;
}

.introduction h1 {
  font-size: 11rem;
  margin: 0rem 1rem 1rem 1rem;
}

.introduction h1 span {
  color: red;
}

.introduction h3 {
  font-size: 5rem;
  margin: 0rem 1rem 1rem 1rem;
  display: inline;
}

.introduction button {
  position: relative;
  display: inline-block;
  width: 10rem;
  height: 4rem;
  top: -1rem;
  right: -1rem;
}

.introduction button a {
  text-decoration: none;
  font-size: 1.6rem;
  color: white;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: column;
  background-color: rgb(14, 14, 14);
  justify-content: center;
  align-items: center;
  overflow: unset;
}

.myImage {
  background-color: red;
  margin: 5rem 3rem 3rem 3rem;
}

.myImage img {
  height: 40rem;
  padding: 1rem;
  text-align: center;
}

.aboutMe {
  /* text-align: center; */
  margin: 4rem 8rem 10rem 7rem;
}

.aboutMe h1 {
  text-align: center;

  color: white;
  font-size: 8rem;
}

.aboutMe h3 {
  margin: 2rem 0 2rem 0;

  color: white;
  font-size: 5rem;
}

.aboutMe h3 span {
  color: red;
}

.aboutMe p {
  color: white;
  font-size: 2.5rem;
  text-align: justify;
  line-height: 5rem;
  /* margin: 6rem; */
}

.services {
  background-color: #000000;
  width: 100%;
  padding: 6rem 0;
}

.title h1 {
  color: white;
  font-size: 7.5rem;
  text-align: center;
  margin: 3rem auto;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* border: 1px solid white; */
  min-height: 40rem;
}

.card {
  width: 55rem;
  height: 39rem;
  padding: 3rem 2.5rem;
  background-color: #191919;
  border-radius: 2rem;
  margin: 2.5rem;
  overflow: hidden;
}

.card:hover{
  scale: 1.1;
  transition: 0.4s;
}

.card i {
  font-size: 5rem;
  color: red;
  margin: 2rem 0;
}

.card h5 {
  color: white;
  font-size: 2.3rem;
  margin-bottom: 2rem;
}

.pra p {
  color: white;
  font-size: 2rem;
  line-height: 3.5rem;
  margin-bottom: 2.5rem;
}

.myProjects{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #191919;
  padding-bottom: 5rem;
}

.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.myProjects h1{
  color: white;
  padding: 4rem;
  font-size: 7.5rem;
}

.card1{
  width: 55rem;
  height: 39rem;
  padding: 3rem 2.5rem;
  background-color: black;
  border-radius: 2rem;
  margin: 2.5rem;
  overflow: hidden;
}

.card1:hover{
  scale: 1.1;
  transition: 0.4s;
}

.card1 h3{
  color: white;
  font-size: 3rem;
  text-align: center;
  border: 2px solid white;
}

.card1 img{
  width: 100%;
  height: 90%;
  border-radius: 0px 0px 5px 5px;
}

.myContacts{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  padding: 3rem 0 3rem 0;
}

.myContacts h1{
  color: white;
  font-size: 4.5rem;
  padding: 2rem 0 0 2rem;
}

.socials{
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials i{
  font-size: 5rem;
  padding: 2rem;
}

.socials a:hover{
  scale: 1.1;
  transition: 0.4s;
}

#insta{
  color: #8a3ab9 ;
}

#linkedin{
  color: #0072b1;
}

#github{
  color: white;
}

/* For correcting the text of the Introduction  */
@media screen and (max-width: 970px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 620px) {
  html {
    font-size: 40%;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 30%;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 27%;
  }
}

@media screen and (max-width: 330px) {
  html {
    font-size: 23%;
  }
}

/* Introduction text correction ends here */

/* For responsive Navbar  */
@media (max-width: 700px) {
  .logo {
    color: black;
  }
  .navbar {
    display: none;
  }

  .navbar.active {
    display: flex;
  }

  .button {
    display: none;
  }

  .bar {
    display: block;
  }

  .navbar nav ul {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 4.3rem;
    left: 0rem;
    text-align: center;
    background-color: red;
    border-radius: 0 0 5rem 0;
    z-index: 2;
  }

  .navbar nav ul li:hover {
    background-color: gray;
  }

  .navbar nav ul li:nth-child(4):hover {
    border-radius: 0 0 5rem 0;
  }

  .navbar nav ul li a:hover {
    color: black;
  }

  .container {
    background-size: 110%;
    background-position: top 5rem left 0rem;
    background-color: black;
  }

  .header {
    background-color: white;
  }
}
/* Responsive Navbar ends  */

/* For creating responsive row  */
@media (min-width: 700px) {
  .row {
    flex-direction: row;
  }

  .aboutMe {
    margin: 4rem 8rem 12rem 16rem;
  }

  .aboutMe p {
    font-size: 2.5rem;
  }
}

/* For creating responsive Services section  */
@media (min-width: 700px) {
  .box {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card {
    width: 41rem;
    height: 43rem;
    margin: 3.5rem;
  }
}

/* For correcting the background image of the website */

/* @media screen and (min-width: 1050px) and (max-width: 1150px) {
  .container {
    background-size: cover;
    background-position: top -8rem left 0rem;
    background-size: 100%;
  }
} */

@media screen and (min-width: 1151px) and (max-width: 1300px) {
  .container {
    background-size: cover;
    background-position: top -2rem left 0rem;
    background-size: 100%;
  }
}

@media screen and (min-width: 1301px) and (max-width: 1600px) {
  .container {
    background-size: cover;
    background-position: top -13rem left 0rem;
    background-size: 100%;
  }
}
